/* blueberry yoghurt cake styling */

*{
    font-family: "Lucida Handwriting", cursive;
}



#bloobyoghurt {
    height: 420px;
    width: auto;
}

.bloobingredients {
    border: 3px solid grey;
    margin-bottom: 20px;
}

.bloobmethod {
    border: 3px solid grey;
}

.back-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 70px 50% 70px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
